.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0;
  padding: 0;
}

.container__chip {
  margin: 0;
  padding: 4px 8px;
  border-radius: 6px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.container__chip--primary {
  background-color: #66d6fb;
}

.container__chip--success {
  background-color: #79fdbc;
}

.container__chip--warning {
  background-color: #fedd67;
}

.container__chip--danger {
  background-color: #d68c77;
}

.container__chip--default {
  background-color: #e3e3e5;
}

.container__chip__text {
  margin: 0;
  font-weight: 500;
  font-size: 12px;
}
