.container--main {
  width: 100vw;
  min-height: 100vh;
  background-color: #fefdfd;
  margin: 64px 0;
  display: flex;
  flex-direction: column;
}

.container--section {
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  row-gap: 16px;
}

.arrow__link {
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 6px;
  color: #00bbf9;
  text-decoration: none;
}

.header__section {
  font-size: 28px;
  font-weight: 700;
}

.section__detail {
  row-gap: 12px;
}

.section__detail__content {
  display: flex;
  flex-direction: column;
  row-gap: 8px;
}

.section__detail__content__grid {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  column-gap: 16px;
  row-gap: 8px;
}

@media screen and (max-width: 1023px) {
  .section__detail__content__grid {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
}

.section__detail__content__title {
  font-size: 24px;
  font-weight: 600;
}

.section__detail__content--tags {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 8px;
}

.section__action {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  column-gap: 16px;
}

@media screen and (max-width: 767px) {
  .section__action {
    justify-content: space-between;
  }
}

.section__action__button {
  padding: 8px 16px;
  border: 2px solid #00bbf9;
  border-radius: 4px;
  color: #12151a;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  transition: 0.3s ease;
}

@media screen and (max-width: 767px) {
  .section__action__button {
    padding: 8px 12px;
    width: 100%;
  }
}

.button__primary--filled {
  background-color: #00bbf9;
  color: #fefdfd;
}

.button__primary--filled:hover {
  background-color: #00a7e1;
}

.button__primary--outline {
  background-color: transparent;
}

.button__primary--outline:hover {
  background-color: #00bbf9;
  color: #fefdfd;
}
